build/
work/
data/
data/extracted/
data/rootfs/
data/input/
logs/
fw_dump/

.codex
ghidra_projects/
tools/ghidra
tools/ghidra_11.3.2_PUBLIC/
tools/tmp_*

*.bin
*.img
*.zip
*.rar
*.tar
*.log
*.Zone.Identifier

__pycache__/
.DS_Store
CLAUDE.md
ite|website_*
